@charset "UTF-8";

/* 폰트 */
@font-face {
    font-family: 'MoveSans-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/MoveSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'HSSanTokki20-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSSanTokki20-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YangjuByeolsanA1';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/YangjuByeolsanA1.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gisangchung Dalcomgihu';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/Gisangchung Dalcomgihu.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header {
    color: #fff;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}

header>div:nth-child(odd) {
    flex: 2;
}

.MainLogo{
    padding-top: 10px;
    height: 40px;
    text-align: center;

}

.MainLogo>a>strong{
    font-family: 'HSSanTokki20-Regular';
    font-size: 20px;
    color: black;
    /*border-bottom: 1px solid black;*/
    cursor: pointer;
}

nav {
    overflow: hidden;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
    padding-top: 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

ul.CartLeft {
    float: left;
    padding: 0;
    padding-left: 10px;
    margin: 0;
    list-style: none;
}

ul .cart {
    padding-top: 15px;
}

ul li a {
    color: black;
    text-decoration: none;
}

nav ul.CartRight {
    float: right;
}

#btn{
    background-color: white;
    border:none;
}

.SearchBtn {
    background-color:white;
}

#search-bg {
    position: absolute;
    width: 100vw;
    z-index: 1;
    background-color:white;
    text-align: center;
    transition: all 0.5s;
    height: 0px;
    overflow: hidden;
    left: -1px;
    margin-top: 22px;
}

#search-bg input {
    width: 70%;
    margin-top: 10px;
    height: 30px;
    background-color: transparent;
    font-size: 1.2rem;
    border-width: 0 0 1px;
}

#search-bg input:focus {
    outline: none;
}

#search-bg.toggle {
    height: 100px;
    transition: all 0.2s;
}